<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Filter first -->
    <filter>
        <filter-name>ResourceFilter</filter-name>
        <filter-class>framework.servlet.ResourceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResourceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- FrontServlet mapped to a FAKE URL -->
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>framework.servlet.FrontServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/framework-dispatch</url-pattern>  <!-- CHANGED -->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>